.container-knowledge {
  padding: 40px 0px 30px 0px;
  background: #03071E;
}

.title-knowledge {
  color: #0eeee3;
  font-size: 2.7rem;
  margin-left: 50px;
  text-align: left;
}

.container-front {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
}

.subTitle {
  color: #faf9f9;
  font-size: 2.4rem;
  padding: 6px;
  text-align: center;
}

.card {
  position: relative;
  box-shadow: 0 0 20px rgba(28, 204, 204, 0.178);
  padding: 60px;
  margin: 35px;
  background: rgba(255, 255, 255, 0.219);
  border-radius: 15px;
  border: 1px solid #6FFFE9;
  -webkit-transition: all .9s ease;
  /* Safari y Chrome */
  -moz-transition: all .9s ease;
  /* Firefox */
  cursor: pointer;
}

.infoCard{
  position: absolute;
  right: 12px;
  width: 76%;
  bottom: 0;
  height: 40px;
  padding: 0.4px 10px;
  font-size: 0.800rem;
  background: rgba(185, 185, 185, 0);
  backdrop-filter: blur(12px);
  transition: scale(0.9);
  color: #fff;
  border-radius: 10px 10px 0px 0px;
  border: 1px solid rgba(253, 253, 253, 0.287);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.411);
  overflow: hidden;
  transition: all .4s;
}

.infoCard h3{
  font-size: 1.4rem;
  padding:5px;
  color: #0abce9;
  text-align: center;
  text-transform: capitalize;
}

.infoCard p{
  font-size: 1.3em;
  padding:15px;
  color: #ffffff;
  text-align: center;
}

.infoCard p span{
  font-weight: bold;
  color: #07db23;
}

.infoCard .otherCardInfo{
  font-size: 0.750rem;
  padding:0px;
  color: #ffffff;
}

.card:hover .infoCard{
  height:100px;
}

@media (prefers-reduced-motion: no-preference) {
  .react-logo {
    animation: react-logo-spin infinite 8s linear;
  }
}

@keyframes react-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.card img {
  width: 110px;
  height: 120px;
}

@media (max-width: 600px) {

  .card {
    padding: 30px;
    margin: 40px;
  }

  .title-front {
    color: #00f7ff;
    font-size: 45px;
    text-align: center;
    padding: 10px;
  }

  .card {
    padding: 26px;
    margin: 15px;
  }

  .infoCard{
    position: absolute;
    right: 8px;
    width: 70%;
    bottom: 0;
    height: 25px;
    padding: 0.4px 10px;
  }
  
  .infoCard h3{
    font-size: 0.900rem;
    padding:5px;
  }
  
  .infoCard p{
    font-size: 1.3em;
  }
  
  .infoCard .otherCardInfo{
    font-size: 0.700rem;
    padding:0px;
    color: #ffffff;
  }
  
  .card:hover .infoCard{
    height:140px;
    background: rgba(0, 0, 0, 0.568);
  }
  
  .card img {
    width: 80px;
    height: 90px;
  }

}