.about-container {
  display: flex;
  padding: 80px 0 90px 0;
  background: rgba(212, 212, 212, 0.363);
  flex-wrap: wrap;
}

.about-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 46%;
  padding: 0 180px 0 80px;
  color: #fff;
}

.about-desc h2 {
  margin-bottom: 50px;
  text-align: center;
  font-size: 2.7rem;
  color: rgb(0, 192, 182);
}

.about-desc p {
  line-height: 1.5;
  color: rgb(0, 0, 0);
  padding-bottom: 18px;
  font-size: 1.1rem;
}

.about-img img {
  width: 350px;
  height: 360px;
  border-radius: 100%;
}

.box-titleName a {
  color: rgb(14, 190, 235);
  font-size: 1.3rem;
  text-decoration: none;
}

.box-titleName {
  margin-top: 25px;
  text-align: center;
  border-radius: 28px;
  padding: 12px;
  background-color: #1C2541;
  text-decoration: none;
}

.box-titleName:hover {
  box-shadow: 0px 8px 1px #01f5e9;
  transition: box-shadow 0.5s;
}

@media (max-width: 600px) {

  .about-container {
    padding: 20px;
    flex-wrap: wrap;
  }
  
  .about-desc {
    width: 90%;
    padding: 10px;
    color: #fff;
  }
  
  .about-desc h2 {
    margin-bottom: 30px;
    font-size: 28px;
    color: rgb(0, 192, 182);
  }

  .about-desc p {
    font-size: 13px;
    line-height: 1.5;
  }

  .box-titleName {
    text-align: center;
    width: 100%;
    padding:10px;
  }

  .about-img img {
    width: 220px;
    height: 240px;
    padding: 0px;
  }

  .box-titleName a {
    font-size: 16px;
  }
}













/* 
.btn-mas{
    display: inline-block;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 25px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    position: relative;
    left: 41%;
    top: 180px;
}

.btn-mas:focus {
    outline: none;
}
  
.btn-mas:active {
    transform: scale(0.98);
} */