.about-container {
  display: flex;
  padding: 40px 0 38px 0;
  background: rgba(212, 212, 212, 0.363);
  flex-wrap: wrap;
}

.about-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 46%;
  padding: 0 200px 0 80px;
  color: #fff;
  animation: showInformation 2s ease-in;
}

.about-desc h2 {
  margin-bottom: 50px;
  text-align: center;
  font-size: 2.7rem;
  color: rgb(0, 192, 182);
}

.about-desc p {
  line-height: 2rem;
  color: rgb(0, 0, 0);
  padding-bottom: 20px;
  font-size: 1.3rem;
}

.contactButton {
  display: inline;
  width: 90px;
  margin: 20px 0px 0px 240px;
  padding: 15px 30px;
  border: none;
  font-size: 1.1rem;
  background: #02081d;
  color: #ffffff;
  cursor: pointer;
}

.contactButton:hover {
  background: #05a8a0;
  color: #ffffff;
}

.about-img img {
  position: absolute;
  top: 663px;
  right: 0px;
  width: 480px;
  height: 88.4vh;
}

a {
  color: rgb(0, 192, 182);
  font-size: 1.4rem;
  text-decoration: none;
  text-transform: capitalize;
}

.box-titleName {
  position: relative;
  top: 400px;
  width: 100%;
  margin: 25px 0px 0px 80px;
  text-align: center;
  border-radius: 28px;
  padding: 10px;
  background-color: #fbfbfb;
  text-decoration: none;
}

.box-titleName:hover {
  cursor: pointer;
  box-shadow: 0px 8px 1px #01f5e9;
  transition: box-shadow 0.2s;
}

.box-titleName:active {
  top: 404px;
  box-shadow: 0px 0px 1px #01f5e9;
  transition: box-shadow 0.1s;
}

@keyframes showInformation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* ---------------------- */

@media (min-width: 1440px) {
  .about-desc {
    width: 54%;
  }

  .contactButton {
    display: inline;
    width: 100px;
    margin: 20px 0px 0px 320px;
    padding: 15px 60px;
    border: none;
    font-size: 1.2rem;
  }

  .about-img img {
    top: 800px;
    height: 64.4vh;
  }

  a {
    color: rgb(0, 192, 182);
    font-size: 1.4rem;
    text-decoration: none;
    text-transform: capitalize;
  }

  .box-titleName {
    position: relative;
    top: 360px;
    left: 60px;
  }

  .box-titleName:active {
    top: 364px;
  }
}

@media (max-width: 600px) {

  .about-container {
    padding: 30px;
    flex-wrap: wrap;
  }

  .about-desc {
    width: 100%;
    padding: 20px;
    color: #fff;
  }

  .about-desc h2 {
    margin-bottom: 30px;
    font-size: 28px;
    color: rgb(0, 192, 182);
  }

  .about-desc p {
    font-size: 13px;
    line-height: 1.5;
  }

  .box-titleName {
    text-align: center;
    width: 50%;
    padding: 6px;
  }

  .contactButton {
    display: inline;
    width: 90px;
    margin: 20px auto;
    padding: 15px 30px;
    border: none;
    font-size: 1.1rem;
    background: #02081d;
    color: #ffffff;
    cursor: pointer;
  }

  .about-img img {
    position: relative;
    top: 0px;
    left: 60px;
    width: 200px;
    height: 240px;
    border-radius: 40px;
  }

  .box-titleName {
    position: relative;
    top: 0px;
    width: 100%;
    margin: 25px 20px 0px 45px;
    color: #ffffff;
    background: #06c2b8;
  }

  .box-titleName a {
    font-size: 16px;
  }
}













/* 
.btn-mas{
    display: inline-block;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 25px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    position: relative;
    left: 41%;
    top: 180px;
}

.btn-mas:focus {
    outline: none;
}
  
.btn-mas:active {
    transform: scale(0.98);
} */