
.icon-gmail:before { content: '\e800'; } /* '' */
.icon-th-list:before { content: '\e801'; } /* '' */
.icon-up-open:before { content: '\e802'; } /* '' */
.icon-child:before { content: '\e803'; } /* '' */
.icon-user-add:before { content: '\e804'; } /* '' */
.icon-folder-open:before { content: '\e805'; } /* '' */
.icon-code-1:before { content: '\e806'; } /* '' */
.icon-instagram:before { content: '\f05d'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-laptop:before { content: '\f109'; } /* '' */
.icon-code:before { content: '\f121'; } /* '' */
.icon-file-code:before { content: '\f1c9'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */
.icon-commenting:before { content: '\f27a'; } /* '' */
.icon-linkedin:before { content: '\f318'; } /* '' */