.titulo-contact{
    color: #00f7ff;
    background: #03071E;
    text-align: center;
    padding: 68px 0 20px 0;
    font-size: 40px
}

.container-contact {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background: #03071E;
}

/* Estilos botones redes sociales */

.titulo-redes{
    color: #ffffff;
    text-align: center;
    font-size: 30px;
    padding-bottom: 26px;
}

.titulo-formulario{
    color: #00f7ff;
    text-align: center;
    font-size: 30px;
    padding-bottom: 26px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    width: 85px;
    height: 85px;
    margin: 20px;
    cursor: pointer;
    border-radius: 50px;
    transition: all 0.8s;
}

.icon a {
    text-decoration: none;
}

.icon:nth-child(1):hover {
    box-shadow: 0px 10px #1877f2;
}

.icon:nth-child(2):hover {
    box-shadow: 0px 10px #c32aa3;
}

.icon:nth-child(3):hover {
    box-shadow: 0px 10px #0057c9;
}

.icon-facebook {
    font-size: 35px;
    color: #1877f2;
    filter: drop-shadow(0px 0px 8px #1877f2);
}

.icon-instagram {
    font-size: 35px;
    color: #c32aa3;
    filter: drop-shadow(0px 0px 8px #c32aa3);
}

.icon-linkedin {
    font-size: 35px;
    color: #0057c9;
    filter: drop-shadow(0px 0px 8px #0057c9);
}

/* estilos info contacto */

.info-contacto {
    padding: 20px;
    margin: 20px;
}

.info-contacto h3 {
    padding-left: 30px;
    letter-spacing: 2px;
    color: #fff;
    border-bottom: 2px solid #00f7ff;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.info-contacto p {
    color: #fff;
    font-size: 16px;
}

.info-contacto span {
    padding: 14px;
}

.icon-gmail{
    color: rgb(255, 61, 61);
}

.icon-whatsapp{
    color: rgb(0, 170, 37);
}

/* estilos formulario */

.add-form {
    margin-bottom: 20px;
}

.form-control {
    margin: 15px 0;
}

.form-control label {
    display: block;
    font-size: 26px;
    color: #00f7ff;
    padding-left: 20px;
}

.form-control input {
    width: 500px;
    height: 40px;
    margin: 5px;
    padding: 3px 7px;
    font-size: 17px;
    border-radius: 6px;
    border: none;
}

.form-control textarea {
    width: 500px;
    height: 80px;
    margin: 5px;
    padding: 3px 7px;
    font-size: 17px;
    border-radius: 6px;
    border: none;
}

.btn-enviar{
    text-align: center;
    padding: 5px;
}

.btn-enviar input{
    display: inline-block;
	padding: 15px;
    width: 30%;
    font-size: 20px;
	border: 0.125rem solid #14bf98;
	border-radius: 0.25rem;
	background-color: #14bf98;
	color: rgb(255, 255, 255);
	text-decoration: none;
	transition: all 0.2s;
}

.btn-enviar input:hover{
    background-color: transparent;
	color: #14bf98;
	text-decoration: none;
}