* {
  padding: 0;
  margin: 0;
  font-family: 'PT Sans', sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* -------------------------style menu-------------------------------- */

.logo-nav {
  width: 154px;
  height: 35px;
  padding-left: 70%;
}

.container-menu {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
}

.nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 20px 0 20px 20px;
  text-transform: capitalize;
  list-style: none;
}

.optionNav {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.2rem;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  list-style: none;
}

.optionNav:hover {
  color: #1ddbbf;
}

nav ul li:hover {
  color: #6FFFE9;
}

nav ul li span {
  padding-right: 6px;
  font-size: 1.2rem;
}

.iconStyle {
  color: #0aecca;
}

.logo {
  position: absolute;
  top: 10px;
  right: 100px;
  width: 140px;
  height: 40px;
  cursor: pointer;
}

.icon-th-list {
  position: absolute;
  opacity: 0;
}

.scroll {
  background: #192238;
  transition: all 0.5s ease;
  z-index: 1000;
}


/**editar la barra lateral*/
body::-webkit-scrollbar {
  width: 9px;
  background: rgb(0, 0, 0);
}

body::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 0px;
}

body::-webkit-scrollbar-thumb {
  background-color: #6FFFE9;
  border-radius: 3px;
}

footer {
  background: rgba(255, 255, 255, 0.363);
  padding: 40px;
  font-size: 1.2rem;
  text-align: center;
  color: rgb(0, 0, 0);

}

@media (max-width: 600px) {

  .iconStyle {
    color: #ffffff;
  }

  .icon-th-list {
    opacity: 1;
    position: absolute;
    font-size: 2.4rem;
    left: 610px;
    top: 20px;
    padding: 8px;
    border-radius: 50px;
    color: rgb(255, 255, 255);
    background: rgb(7, 175, 167);
    cursor: pointer;
  }

  .logo {
    position: absolute;
    left: 25px;
    top: 20px;
    width: 200px;
    height: 80px;
    padding: 20px;
    border-radius: 6px;
    border: 1px solid #6FFFE9;
    cursor: pointer;
  }

  .container-menu {
    position: fixed;
    width: 700px;
    z-index: 1000;
    top: 0px;
    right: 0px;
  }

  .nav-menu {
    position: absolute;
    width: 100%;
    height: 100vh;
    opacity: 0;
    background: #000000c4;
    transform: translateX(-420px);
    transition: transform .4s ease-in-out;
  }

  .menuResponsive {
    position: absolute;
    width: 40%;
    height: 100vh;
    background: #000000;
    transform: translateX(300px);
    transition: transform .8s ease-in-out;
  }

  .optionNav {
    font-size: 1.5rem;
    padding: 20px;
  }

  nav ul{
    padding-top:160px;
  }
  
  nav ul li {
    width:80%;
    margin: 14px -10px;
    padding: 10px;
    border-radius: 0px 60px 60px 0px;
    background: #09cccc;
    display: inline-block;
  }

  .optionNav:hover {
    color: #000000;
  }

  nav ul li span {
    padding-right: 10px;
    font-size: 1.1em;
  }

  footer {
    padding: 28px;
    font-size: .900rem;
  }

}