.container {
  height: 100%;
}

.carousel-container {
  display: flex;
  vertical-align: center;
  align-items: center;
  background:rgba(212, 212, 212, 0.363);
  padding: 100px 0 100px 0;
}

.carousel-title {
  color: rgb(0, 192, 182);
  width: 20%;
  text-align: center;
  font-size: 35px;
  padding: 0 100px 0 100px;
}

.slide-container {
  border-radius: 40px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.slide-container>img {
  height: 56vh;
  object-fit: contain;
  transition: all 0.2s ease-in-out;
}

.slide-container:hover>img {
  transform: scale(1.);
  opacity: 0.7;
}

.slide-desc {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 23px;
  color: #fff;
  background-color: black;
  bottom: 0;
  right: 0;
  width: 100%;
  opacity: 0.8;
}


.slide-desc span{
  font-size: 28px;
  color:#fff;
}

.slide-desc a {
  color: #ffffff;
  font-size: 20px;
  background: rgba(0, 255, 242, 0.849);
  padding: 10px 40px;
  border-radius: 30px;
  text-decoration: none;
}

.slide-desc:hover a {
  background:rgb(0, 0, 0);
 
}

.BrainhubCarousel__arrows {
  background-color: white;
  border-radius: 50%;
  margin: 20px;
}

.BrainhubCarousel__arrows>span {
  border-color: rgb(0, 0, 0);
}

.BrainhubCarousel__arrows:hover {
  background-color: rgb(0, 255, 221) !important;
}

.BrainhubCarousel__arrows:hover>span {
  border-color: black !important;
}

@media only screen and (max-width: 960px) {
  .carousel-container {
    flex-direction: column;
  }

  .carousel-title {
    width: 100%;
    text-align: center;
    padding: 50px 0 50px 0;
  }

  .slide-container {
    width: 100%;
  }
}
